/*
 * InspireTWDC — Disney Cruise Line brand typeface.
 * Served from the Disney parks media CDN (sends Access-Control-Allow-Origin: *),
 * same source as https://disneycruise.disney.go.com. The font is licensed to
 * Disney, so it is referenced rather than committed to this public repository.
 */
@font-face {
  font-family: inspire-twdc;
  font-style: normal;
  font-weight: 200;
  font-display: swap;
  src: url('https://cdn1.parksmedia.wdprapps.disney.com/media/layout/assets/fonts/InspireTWDC/InspireTWDC-Light/InspireTWDC-Light.woff2') format('woff2');
}

@font-face {
  font-family: inspire-twdc;
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url('https://cdn1.parksmedia.wdprapps.disney.com/media/layout/assets/fonts/InspireTWDC/InspireTWDC-Roman/InspireTWDC-Roman.woff2') format('woff2');
}

@font-face {
  font-family: inspire-twdc;
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url('https://cdn1.parksmedia.wdprapps.disney.com/media/layout/assets/fonts/InspireTWDC/InspireTWDC-Medium/InspireTWDC-Medium.woff2') format('woff2');
}

@font-face {
  font-family: inspire-twdc;
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url('https://cdn1.parksmedia.wdprapps.disney.com/media/layout/assets/fonts/InspireTWDC/InspireTWDC-Heavy/InspireTWDC-Heavy.woff2') format('woff2');
}

@font-face {
  font-family: inspire-twdc;
  font-style: normal;
  font-weight: 900;
  font-display: swap;
  src: url('https://cdn1.parksmedia.wdprapps.disney.com/media/layout/assets/fonts/InspireTWDC/InspireTWDC-Black/InspireTWDC-Black.woff2') format('woff2');
}
